.roadmap-child {
  position: absolute;
  top: -10px;
  left: 0;
  background: linear-gradient(180deg, #1858d1, #b3f0ff);
  width: 100%;
  height: 1043px;
}
.logo-bw-photoroom-3-icon,
.roadmap-item {
  position: absolute;
  top: 845px;
  left: 760px;
  width: 212px;
  height: 1px;
  object-fit: cover;
}
.logo-bw-photoroom-3-icon {
  top: 5px;
  left: 15px;
  width: 94px;
  height: 113px;
}
.roadmap-inner,
.shroomiez-amanitao-nobg-2-icon {
  position: absolute;
  top: 34px;
  left: 166px;
  width: 344px;
  height: 56px;
  object-fit: cover;
}
.roadmap-inner {
  top: 29px;
  left: 1246px;
  border-radius: var(--br-10xs);
  width: 167px;
  height: 76px;
}
.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 30px;
  left: 1280px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-jockey-one);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 143px;
  height: 56px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.rectangle-div,
.roadmap-child1 {
  position: absolute;
  border-radius: var(--br-7xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.rectangle-div {
  top: 335px;
  left: 1066px;
  background-color: var(--color-lightsteelblue-200);
  width: 254px;
  height: 147px;
}
.roadmap-child1 {
  top: 250px;
  left: 234px;
  width: 342px;
  height: 49px;
}
.roadmap-child1,
.roadmap-child2,
.roadmap-child3 {
  background-color: var(--color-cornflowerblue);
}
.roadmap-child2 {
  position: absolute;
  top: 264px;
  left: 999px;
  border-radius: var(--br-7xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 303px;
  height: 54px;
}
.roadmap-child3 {
  top: 156px;
  left: 937px;
  width: 352px;
}
.roadmap-child3,
.roadmap-child4,
.roadmap-child5 {
  position: absolute;
  border-radius: var(--br-7xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 49px;
}
.roadmap-child4 {
  top: 651px;
  left: 986px;
  background: linear-gradient(180deg, #f71888, #f9eec0);
  width: 334px;
}
.roadmap-child5 {
  top: 341px;
  left: 167px;
  background-color: var(--color-cornflowerblue);
  width: 300px;
}
.shroomiezeth-lp-goes {
  position: absolute;
  top: 273px;
  left: 1011px;
  display: inline-block;
  width: 282px;
  height: 42px;
}
.shroomieverseity-beta-releas,
.shroomiez-1st-anniversary {
  position: absolute;
  top: 162px;
  left: 948px;
  display: inline-block;
  width: 319px;
  height: 42px;
}
.shroomiez-1st-anniversary {
  top: 656px;
  left: 995px;
  width: 327px;
}
.liquid-backing-via,
.shroomiez-hologram-claim {
  position: absolute;
  top: 256px;
  left: 247px;
  display: inline-block;
  width: 324px;
  height: 40px;
}
.shroomiez-hologram-claim {
  top: 347px;
  left: 180px;
  width: 274px;
}
.roadmap-child6,
.roadmap-child7,
.roadmap-child8 {
  position: absolute;
  top: 118px;
  left: 634px;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 277px;
  height: 147px;
}
.roadmap-child7,
.roadmap-child8 {
  top: 460px;
  left: 100px;
  width: 268px;
  height: 216px;
}
.roadmap-child8 {
  top: 746px;
  left: 986px;
  height: 188px;
}
.h1-2024 {
  margin: 0;
}
.tiddle-heh {
  margin: 0;
  color: var(--color-black);
}
.h1-2024-tiddle-container,
.h2-2024-tiddle-container,
.q3-2023-660-container,
.q4-2023-6000-container {
  position: absolute;
  top: 474px;
  left: 120px;
  display: inline-block;
  width: 229px;
  height: 133px;
  color: var(--color-gray-100);
}
.h2-2024-tiddle-container,
.q3-2023-660-container,
.q4-2023-6000-container {
  top: 758px;
  left: 1006px;
}
.q3-2023-660-container,
.q4-2023-6000-container {
  top: 344px;
  left: 1082px;
}
.q4-2023-6000-container {
  top: 129px;
  left: 652px;
}
.line-icon {
  position: absolute;
  top: 427px;
  left: 950px;
  width: 116px;
  height: 1px;
  object-fit: cover;
}
.roadmap-child9 {
  position: absolute;
  top: 265px;
  left: 767px;
  width: 1.2px;
  height: 80px;
}
.roadmap-child10,
.roadmap-child11 {
  position: absolute;
  top: 312.23px;
  left: 948.37px;
  width: 50.63px;
  height: 41.77px;
}
.roadmap-child11 {
  top: 203.8px;
  left: 910.02px;
  width: 29.98px;
  height: 142.2px;
}
.roadmap-child12,
.roadmap-child13 {
  position: absolute;
  top: 298px;
  left: 573.22px;
  width: 62.78px;
  height: 77.63px;
}
.roadmap-child13 {
  top: 388px;
  left: 465.48px;
  width: 63.52px;
  height: 38.86px;
}
.roadmap-child14,
.roadmap-child15,
.roadmaps-nobg-1-icon {
  position: absolute;
  top: 548px;
  left: 369px;
  width: 104.01px;
  height: 1px;
  object-fit: cover;
}
.roadmap-child15,
.roadmaps-nobg-1-icon {
  top: 676px;
  left: 863px;
  width: 123px;
}
.roadmaps-nobg-1-icon {
  top: 133px;
  left: 283px;
  width: 788px;
  height: 1104px;
}
.roadmap {
  position: relative;
  /* background-color: #fff; */
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  font-family: var(--font-jockey-one);
}
